<!DOCTYPE html>

<html>
    <head>
        <title>Iniciar Sesión - UPOMarket</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../CSS/login.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body id="body">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            
                                <img id="logo" src="../Images/UPOMediaMarket.jpg" alt="Logo de UPOMediaMarket"/>
                           
                            <h4 class="card-title text-center">Inicio de sesión</h4>
                            <form class="form-signin" action="#" method="post">
                                <div class="form-label-group">
                                    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Correo electrónico" required autofocus>

                                </div>
                                <br />
                                <div class="form-label-group">
                                    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required />
                                </div>
                                <br />
                                <input class="btn btn-md btn-primary btn-block text-uppercase" type="submit" value="Iniciar Sesión" name="iniciarSesion" />
                                <br />
                                <p class="text-center">¿Aún no tienes una cuenta? <a href="signUp.php">¡Regístrate!</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
