input.cantidad {
    margin: auto;
    max-width: 100px;
}
#btnProcesarCompra {
    width: auto !important;
}
.cantidad{
    width: 150px;
    margin: 0;
    padding: 0;
}
.fa-trash{
    color: red;
    font-weight: bold;
    font-size: 16pt;
}
.fa-trash:hover{
    font-size: 18pt;
}