.divCarrito{
    margin: 30px;
}
input.cantidad {
    margin: auto;
    max-width: 100px;
}
#btnProcesarCompra {
    width: auto !important;
}
.cantidad{
    width: 150px;
    margin: 0;
    padding: 0;
}