input.cantidad {
    margin: auto;
    max-width: 100px;
}
#btnProcesarCompra {
    width: auto !important;
}
.cantidad{
    width: 150px;
    margin: 0;
    padding: 0;
}
.fa-trash{
    color:gray;
    font-size: 14pt;
}
.fa-trash:hover{
    color:red;
    font-size: 15pt;
}
td,th {
    vertical-align: middle !important;
    text-align: center;
}