#formProducto {
    margin-top: 3%;
}
i.fa-window-close {
    color:red;
}
[class*="col-"] .chosen-container {
    width:100%!important;
}
[class*="col-"] .chosen-container .chosen-search input[type="text"] {
    padding:2px 4%!important;
    width:90%!important;
    margin:5px 2%;
}
[class*="col-"] .chosen-container .chosen-drop {
    width: 100%!important;
}