html {
    background-color: #24292e;
}
.navbar {
    background-color: #24292e !important;
    padding-left: 5% !important;
    font-size: 1.2rem !important;
    position: static !important;
    margin: 0 !important;
}
#tooglerMovil {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.container {
    max-width: none !important;
}
i.fa-shopping-cart {
    font-size: 100%;
}
a.nav-link {
    height: 100% !important;
    padding: 8px 16px !important;
    color: lightgray !important;
}
.nav-link:hover {
    color: white !important;
    font-size: 103%;
}
#profile {
    margin-left: 50px;
}
@media only screen and (max-width: 1000px) {
    #profile {
        margin-left: 0;
    }
}

a.categoria {
    color: #ee3124; /*#7a1600;*/
    font-weight: 600;
    display: block;
    padding: 12px 20px;
}

.list-group-item.cat:hover {
    background-color: #ee3124;
}

.list-group-item.cat {
    padding: 0;
}
.list-group-item:hover a.categoria {
    color: white;
}

a.categoria:hover {
    color: #ee3124;
}

.productoLink {
    color: #ee3124;
}

.productoLink:hover {
    color: #7a1600;
}

h4{
    font-variant: all-small-caps;
    color: #5a6268;
}

a {
    text-decoration: none !important;
}

main.container,main.container-fluid {
    width: 90%;
    margin: 0 auto;
    min-height: 50vh !important;
}
@media only screen and (max-width: 600px) {
    #categorias {
        margin-top: 1% !important;
    }
}

#mensajeErrores{
    color: red;
}

.make-me-sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}
#categorias {
    margin-top: 3%;
}
.alert {
    margin-top: 3%;
    width: 100%;
}