body{
    background-image: url("../imagenes/bg.png");
    text-align: center;
}

#logo{
    align-self: center;
    display: block;
    margin: auto;
}
.modal-header {
    border:none !important;
}
.modal-footer {
    border:none !important;
}

.container-fluid{
    align-self: center;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wwctrl{
    margin: auto;
    margin-bottom: 5%;
    text-align: center;
}
.modal{
    padding: 0 !important;
}
.form-signin{
    width: 100%;
    padding: 0 15%;
}
#send {
    margin: 0 15%;
}
