#body{
    background-image: url("../imagenes/bg.png");
    text-align: center;
}

#logo{
    align-self: center;
    display: block;
    margin: auto;
    width: 50%;
}

.container{
    align-self: center;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    margin: 8px;
}
