#ventas th,td {
    text-align: center;
    vertical-align: middle;
}
#pedidos tbody tr:hover {
    cursor: pointer;
    color: #0056b3;
    font-weight: 600;
}
img.mostrarImagen {
    display:inline-table;
    max-width: 100px;
}
table thead th {
    text-align: center !important;
}

#pedidos th {
    width: 25% !important;
}
.tooltip-inner {
    text-align: left;
}
td,th {
    vertical-align: middle !important;
}
.list-group-item{
    padding: 0 !important;
}
a.menu-link {
    display: block;
    padding: 12px 20px;
}
.active {
    color: white !important;
    background-color: #007bff !important;
    border-radius: .25rem;
}