#ventas_wrapper {
    margin: 3% !important;
}
#pedidos_wrapper{
    margin: 3% !important;
}
#productos_wrapper{
    margin: 3% !important;
}
#reclamaciones_wrapper {
    margin: 3% !important;
}

#ventas th,td {
    text-align: center;
    vertical-align: middle;
}
#pedidos tbody tr:hover {
    cursor: pointer;
    color: #7a1600;
}
img.mostrarImagen {
    display:inline-table;
    max-width: 100px;
}
table thead th {
    text-align: center !important;
}

#pedidos th {
    width: 25% !important;
}
.tooltip-inner {
    text-align: left;
}
td,th {
    vertical-align: middle !important;
}