table td {
    border: none !important;
}

.checked {
    color: #ffc107;
}
.review:hover {
    cursor: pointer;
    color: #ffc107;
}
.unchecked{
    color: lightgray;
}
.btn-valoracion {
    margin-right: 10px;
}
form textarea {
    margin-bottom: 10px;
}

#valoraciones {
    max-height: 120vh;
    overflow-y: auto;
}