table td {
    border: none !important;
}

.checked {
    color: #ffc107;
}

.unchecked{
    color: lightgray;
}
.clicked {
    color: #ffc107;
}

.unclicked{
    color: lightgray;
}

.review:hover {
    cursor: pointer;
    color: #ffc107;
}

.btn-valoracion {
    margin-right: 10px;
}
form textarea {
    margin-bottom: 10px;
}

#valoraciones {
    max-height: 120vh;
    overflow-y: auto;
}

#imgProducto {
    max-height: 300px !important;
}