<!DOCTYPE html>

<html>
    <head>
        <title>Registro - UPOMediaMarket</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../CSS/login.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    </head>
    <body id="body">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <a href="principal.php">
                                <img id="logo" src="../Images/UPOMediaMarket.jpg" alt="Logo de UPOMarket"/>
                            </a>
                            <h4 class="card-title text-center">Registro</h4>
                            <form class="form-signin" action="#" method="post">
                                <div class="form-label-group">
                                    <input name="usuario" type="text" id="inputNombre" class="form-control" placeholder="Nombre" required autofocus>
                                </div>
                                <br />
                                <div class="form-label-group">
                                    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Correo electrónico" required autofocus>
                                </div>
                                <br />
                                <div class="form-label-group">
                                    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                                </div>
                                <br />
                                <div class="form-label-group">
                                    <input name="passwordConfirm" type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirmar contraseña" required>
                                </div>
                                <br />
                                <div class="form-label-group form-check">
                                    <label class="form-check-label" for="inputVendedor">¿Desea ser vendedor? </label>
                                    <input name="vendedor" type="checkbox" id="inputVendedor"/>
                                </div>
                                <br />
                                <button name="btnRegistrar" class="btn btn-md btn-primary btn-block text-uppercase" type="submit">Registrarse</button>
                                <br />
                                <p class="text-center">¿Ya tienes una cuenta? <a href="login.php">¡Inicia sesión!</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

