<footer class="page-footer font-small mdb-color lighten-3 pt-4 footer">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mb-4">UPOMediaMarket</h5>
                <p>
                    UPOMediaMarket nace con la idea de facilitar a los alumnos el acceso a los recursos digitales.
                </p>
                <p>
                    No olvides pasar m&aacute;s tiempo en la biblioteca de la UPO, comer en la cafeter&iacute;a de la UPO y por supuesto usar la pista de p&aacute;del de la UPO.
                </p>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mb-4">Con&oacute;cenos</h5>
                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="https://github.com/AmalioF96/ProyectoIT" target="_blank">Proyectos</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="https://www.upo.es/escuela-politecnica-superior/" target="_blank">Sobre nosotros</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="https://es.wordpress.com/" target="_blank">Blogs</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="https://www.loteriasyapuestas.es/es/loteria-nacional" target="_blank">Premios</a>
                        </p>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                <!-- Contact details -->
                <h5 class="font-weight-bold text-uppercase mb-4">Enlaces de inter&eacute;s</h5>
                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="http://www.google.com/search?q=fraude" target="_blank">Vender en UPOMediaMarket</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="http://www.google.com/search?q=troyano" target="_blank">Garant&iacute;a de UPOMediaMarket</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="http://www.google.com/search?q=erte" target="_blank">Trabajar en UPOMediaMarket</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="http://www.google.com/search?q=estafa" target="_blank">T&eacute;rminos y condiciones</a>
                        </p>
                    </li>

                </ul>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div id="col-3" class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                <!-- Social buttons -->
                <h5 class="font-weight-bold text-uppercase mb-4">&iexcl;S&iacute;guenos en nuestras redes!</h5>
                <div class="f-p-ico">
                    <!-- Linkedin Alvaro -->
                    <a href="https://www.linkedin.com/in/&aacute;lvaro-navarro-mora-460053159/" target="_blank" class="btn-floating btn-fb">
                        <i class="f-ico fab fa-linkedin sin-margen"></i>
                    </a>
                    <!-- Linkedin Marcos -->
                    <a href="https://www.linkedin.com/in/marcos-witzl-daza-097822114/" target="_blank" class="btn-floating btn-tw">
                        <i class="f-ico fab fa-linkedin"></i>
                    </a>
                    <!-- Linkedin Amalio -->
                    <a href="https://www.linkedin.com/in/amalio-cabeza-15643b92/" target="_blank" class="btn-floating btn-dribbble">
                        <i class="f-ico fab fa-linkedin"></i>
                    </a>
                    <!-- GitHub-->
                    <a href="https://github.com/AmalioF96/ProyectoIT" target="_blank" class="btn-floating btn-gplus">
                        <i class="f-ico fab fa-github-square"></i>
                    </a>
                </div>
                <br/>
                <img id="logo_main" class="img-fluid" src="/upomm/imagenes/UPOMediaMarket_Logo2.jpg" alt="upomediamarket">
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <details class="footer-copyright text-center py-3">
        <summary>&COPY;Copyright 2020.</summary>
        <p class="text-center">by <a href="https://github.com/AmalioF96/ProyectoIT" target="_blank">Grupo XI</a>. Todos los derechos reservados.</p>
        <p class="text-center">Todos los contenidos de esta web son propiedad de la empresa <a href="https://github.com/AmalioF96/ProyectoIT" target="_blank">Grupo XI</a>.</p>
    </details>
    <!-- Copyright -->
</footer>